
<div class="container">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Edad</th>
            <th>Activo</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tbody id="GetData">
        </tbody>
    </table>
</div>


<script>
    $.get("/Agregar/GetData", null, DataBind);

    //Traer la informacion de la bd para mostrarla en una tabla
    function DataBind(DatosPersonas) {
        var SetData = $("#GetData");
        for (var i = 0; i <= DatosPersonas.length; i++) {
            var Data = `
            <tr>
                <td scope="col">${DatosPersonas[i].Id}</td>
                <td scope="col">${DatosPersonas[i].Nombre}</td>
                <td scope="col">${DatosPersonas[i].Apellido_Paterno}</td>
                <td scope="col">${DatosPersonas[i].Apellido_Materno}</td>
                <td scope="col">${DatosPersonas[i].Edad}</td>
                <td scope="col">${DatosPersonas[i].isactive}</td>
                <td><a href="#" class="btn btn-primary" id="editar" onclick="EditarUsuario(${DatosPersonas[i].Id})" data-target="#modalCrearEditar" data-toggle="modal">Editar</a></td>
                <td><a href="#" class="btn btn-danger"  onclick="EliminarUsuario(${DatosPersonas[i].id})">Eliminar</a></td>
            </tr>
         `;

            SetData.append(Data);
        }
    }

</script>
